<%
var imgUrl = 'http://placehold.it/256x256';
if(results.data.labels && results.data.labels.medium){
	imgUrl = results.data.labels.medium;
}
var description = (results.data.description ? results.data.description : 'N/A');
%>

<div class="col-md-6 col-md-offset-1">
	<ul align="center">
		<li>Beer: <%= results.data.name %></li>
			<% var breweries = results.data.breweries;
				breweries.forEach(function(brewery){ %>
			 	<li>Brewed by: <%=brewery.name%></li>
			<% }); %>
		<li>Description: <%= results.data.description %></li>
		<li>ABV: <%= results.data.abv %></li>
		<li>Style: <%= results.data.style.name %></li>
		<li><img src="<%= imgUrl %>"></li>
		<li>Category Description: <%= results.data.style.description %></li>
</ul>
	<div id="favorites">

		<form action="../favorites" method="POST" id="favoriteBeer">
			<input type="hidden" name="beer" value="<%= results.data.name %>">
			<input type="hidden" name="abv" value="<%= results.data.abv %>">
			<input type="hidden" name="style" value="<%= results.data.style.name %>">
			<button type="submit" name="submit" class="click" id="addToFav">Add Beer to Favorites</button>
		</form>

	</div>

</div>

<div class="col-md-4 pull-right">
<h3>Playlist:</h3>
<% var tracks = ""; %>
<% var artist_name = ""; %>
<% artists.forEach(function(grab){ %>
	<% var artistName = grab.artist_name;%>
	<% console.log(artistName);  %>
	<% var track = grab.tracks[0].foreign_id.replace('spotify:track:', ''); %>
	<% tracks =  tracks + track + ',';%>
	<% artist_name = artist_name + artistName + ', ';  %>
<% }); %> 

<iframe src="https://embed.spotify.com/?uri=spotify:trackset:<%=artist_name%>:<%=tracks%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>



<div id="results"></div>




	

