<div class="results">
<%
var imgUrl = 'http://placehold.it/256x256';
if(results.data.labels && results.data.labels.medium){
	imgUrl = results.data.labels.medium;
}
var description = (results.data.description ? results.data.description : 'N/A');
%>
<div class="col-md-3 col-sm-4 pull-left">
<li class="list-title">Your Beer</li>
<br><img class="beer-img" src ="<%= imgUrl %>">
</div>

<div class="col-md-5 col-sm-4 beer-results">
	<br><br><ul><span class="not-describe">
		<li><span class="list-title">Beer:</span> <%= results.data.name %></li>
			<% var breweries = results.data.breweries;
				breweries.forEach(function(brewery){ %>
			 	<li><span class="list-title">Brewed by:</span> <%=brewery.name%></li>
			<% }); %>
		<li><span class="list-title">ABV:</span> <%= results.data.abv %></li>
		<li><span class="list-title">Style:</span> <%= results.data.style.name %></li></span>
		<br><p><%= results.data.description %></p>
		
		
		<!-- <li><span class="list-title">Style Description: </span><%= results.data.style.description %></li> -->
</ul>
<!-- 	<div id="favorites">

		<form action="../favorites" method="POST" id="favoriteBeer">
			<input type="hidden" name="beer" value="<%= results.data.name %>">
			<input type="hidden" name="abv" value="<%= results.data.abv %>">
			<input type="hidden" name="style" value="<%= results.data.style.name %>">
			<button type="submit" name="submit" class="click" id="addToFav">Add Beer to Favorites</button>
		</form>

	</div> -->

</div>


<% var tracks = ""; %>
<% var artist_name = ""; %>
<% artists.forEach(function(grab){ %>
	<% var artistName = grab.artist_name;%>
	<% console.log(artistName);  %>
	<% var track = grab.tracks[0].foreign_id.replace('spotify:track:', ''); %>
	<% tracks =  tracks + track + ',';%>
	<% artist_name = artist_name + artistName + ', ';  %>
<% }); %> 


<div class="col-md-2 col-sm-4 ">
<li class="list-title">Your Playlist:</li>
<br><iframe id="playlist" src="https://embed.spotify.com/?uri=spotify:trackset:<%=artist_name%>:<%=tracks%>" frameborder="0" allowtransparency="true"></iframe>
</div>



</div>




	

